# Environment files
.env

# Dependencies
node_modules

# Logs
npm-debug.log

# NPM configuration
.npmrc

# Git files
.git
.gitignore

# Docker
Dockerfile

# Build output
dist

# Test coverage
coverage
